<main>
  <header class="header">
    <img class="logo" src="media/images/Logo.png" alt="Logo">
    <a routerLink="/dashboard-client" class="retour">retour</a>
  </header>

  <div class="profile-container">
    <!-- Section gauche, photo et description -->
    <section class="profile-left">
      <div class="profile-photo">
        <img [src]="currentUser?.urlProfil || 'media/images/profile.png'" alt="Profile Picture">
      </div>
      <div class="profile-summary">
        <h3 >{{ currentUser?.firstName }} {{ currentUser?.lastName }}</h3>
        <h2>{{ currentUser?.profession || 'Profession inconnue' }}</h2>
        <p>{{ currentUser?.biographie || "Description indisponible" }}</p>
      </div>
    </section>

    <!-- Section droite; compétences, certifications, contact -->
    <section class="profile-right">
      <div class="profile-skills">
        <h3>Compétences principales</h3>
        <ul>
          <li *ngFor="let skill of currentUser?.skillLevels">
            <span class="skill-name">{{ skill.skillName }}</span>
            <span class="skill-level">({{ skill.skillLevel }})</span>
          </li>
        </ul>
      </div>

      <div class="profile-certifications">
        <h3>Certifications</h3>
        <div *ngFor="let cert of currentUser?.certifications">
          <!--  lien des  certifications -->
          <a *ngIf="cert.link" class="cert-link" [href]="cert.link" target="_blank">{{ cert.description }}</a>
          <a *ngIf="cert.link" class="cert-link" [href]="cert.link" target="_blank">{{ cert.description }}</a>
          <a *ngIf="cert.link" class="cert-link" [href]="cert.link" target="_blank">{{ cert.description }}</a>
          <a *ngIf="cert.link" class="cert-link" [href]="cert.link" target="_blank">{{ cert.description }}</a>

          <!-- Image pour les certifications -->
          <img *ngIf="cert.imageUrl" class="cert-image " [src]="cert.imageUrl" alt="{{ cert.name }}" (click)="openModal(cert)">
           <p *ngIf="cert.imageUrl" class="cert-description ">{{ cert.description }}</p>
          <img *ngIf="cert.imageUrl" class="cert-image " [src]="cert.imageUrl" alt="{{ cert.name }}" (click)="openModal(cert)">
          <p *ngIf="cert.imageUrl" class="cert-description ">{{ cert.description }}</p>
          <img *ngIf="cert.imageUrl" class="cert-image " [src]="cert.imageUrl" alt="{{ cert.name }}" (click)="openModal(cert)">
          <p *ngIf="cert.imageUrl" class="cert-description ">{{ cert.description }}</p>
        </div>
      </div>

      <!-- Contact -->
      <div class="profile-contact">
        <h3>Contact</h3>
        <a class="btn btn-whatsapp" href="#"><img src="media/images/whatsapp.png" alt="whatsapp"> WhatsApp</a>
        <a class="btn btn-mail" [href]="'mailto:' + currentUser?.email"><img src="media/images/mail.png" alt="mail"> Mail</a>
      </div>
    </section>
  </div>

  <!-- Modal agrandir l'image de certification -->
  <div class="modal" id="cert-modal">
    <span class="close" (click)="closeModal()">×</span>
    <img class="modal-content" id="modal-image" [src]="modalImage" alt="Certificat Agrandi">
  </div>
</main>
