<main>
  <p class="title">Services publier</p>
  <table>
    <thead>
    <tr>
      <th class="left-radius">Freelancer</th>
      <th>Service</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Durée</th>
      <th>Date</th>
      <!--      <th>Statut</th>-->
      <th class="right-radius">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services()">
      <td>{{service.provider.user.userName}}</td>
      <td>{{service.typeService}}</td>
      <td>{{service.description}}</td>
      <td>{{service.price}}</td>
      <td>{{service.duration}}</td>
      <td>{{ service.createAt | date:'dd/MM/yyyy' }}</td>
      <!--      <td><div class="services-status pending">En attente</div></td>-->
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link reject-btn" (click)="invalid(service.id)"><i class="pi pi-times"></i> Delister</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</main>
