<main class="w-full h-dvh p-4">
  <section class="flex items-center justify-between">
    <h4>Bonjour, Admin</h4>
    <div>
      <div></div>
      <button></button>
    </div>
  </section>

  <section class="flex gap-3">
    <div class="card card-lg">
      <div class="flex"><h3 class="m-0">Utilisateur</h3></div>
    </div>
    <div class="card card-m"><p-chart type="doughnut" [data]="data" [options]="options" />
    </div>
  </section>

  <section class="flex mt-4 gap-3">
    <div class="w-1/2">
      <div class="card card-lg-2 mb-2"></div>
      <div class="card card-lg-2 mt-2"></div>
    </div>
      <div class="card list">
        <p-table [value]="users">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Profile </th>
                    <th>Nom</th>
                    <th>Role</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-users let-columns="columns">
                <tr>
                    <td>
                      <img [src]="users.urlProfile" alt="Profile Image">
                    </td>
                    <td>
                      {{users.name}}
                    </td>
                    <td>
                        {{users.role}}
                    </td>
                    <td>
                        {{users.quantity}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </section>

</main>
