<main class="w-full h-dvh p-4">
  <section class="flex items-center justify-between">
    <p class="text-3xl font-bold ">Bonjour, Admin</p>
    <div>
      <div></div>
      <button></button>
    </div>
  </section>

  <section class="section-card-1">
    <div class="card card-lg">
      <div class="nombre-user">Nombre d'utilisateurs</div>
      <div class="card-users-container">
        <div class="card-users">
          <img src="media/images/freelancer2.png" alt="">
          <div class="">
            <p class="font-bold text-xl">Prestataire</p>
            <p class="font-bold text-3xl text-[#14c0b7]">{{infoUser.numberProvider}}</p>
          </div>
        </div>
        <div class="card-users">
          <img  src="media/images/freelancer3.png" alt="">
          <div class="">
            <p class="font-bold text-xl">Client</p>
            <p class="font-bold text-3xl text-[#14c0b7]">{{infoUser.numberCustomer}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-m"><p-chart type="doughnut" [data]="data" [options]="options" />
    </div>
  </section>

  <section class="flex mt-4 gap-3">
    <div class="w-1/2 flex flex-col justify-between">
      <a routerLink="/projects" class="card-lg-1">
        <img class="card-image" loading="lazy" src="media/images/project.png" alt="">
        <div>
          <p class="font-bold">Service a valider</p>
          <span class="backg">{{infoUser.numberServiceEnAttente}}</span>
        </div>
      </a>
      <a routerLink="/projects" class="card-lg-2">
        <img class="card-image" loading="lazy" sizes="10px" src="media/images/project.png" alt="">
        <div>
          <p class="font-bold">Collaboration réussie</p>
          <span class="backg">{{infoUser.numberCollaborationReussi}}</span>
        </div>
      </a>
      <a routerLink="/projects" class="card-lg-3">
        <img class="card-image" loading="lazy" src="media/images/money.png" alt="">
        <div>
          <p class="font-bold">Revenue</p>
          <span class="backg">{{infoUser.revenue}}</span>
        </div>
      </a>
    </div>
      <div class="card list">
        <p-table [value]="users">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Profile </th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Role</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-users let-columns="columns">
                <tr>
                    <td>
                      <img [src]="users.urlProfile" alt="Profile Image">
                    </td>
                    <td>
                      {{users.name}}
                    </td>
                    <td>
                      {{users.prenom}}
                    </td>
                    <td>
                        {{users.role}}
                    </td>
                    <td>
                        {{users.quantity}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </section>

</main>
