.m-0{margin: 0;}
.card{
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
}
.card-lg{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e7fffe;
}
.nombre-user{
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 0.2rem 0.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-m{
  width: 60%;
  background: rgb(35,38,44);
  background: linear-gradient(90deg, rgba(35,38,44,1) 0%, rgba(26,37,36,1) 100%);
  display: flex;
  justify-content: center;
}

.card-lg-1{
  background: rgb(255, 243, 243);
  background: linear-gradient(135deg, rgba(255, 243, 243, 1) 0%, rgba(255, 231, 231, 1) 100%);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0.3rem 0;
}
span.backg{
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  width: 100%;
  font-weight: 700;

}
.card-lg-2{
  width: 100%;
  background: rgb(255, 255, 250);
  background: linear-gradient(135deg, rgba(255, 255, 250, 1) 0%, rgba(255, 255, 237, 1) 100%);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0.3rem 0;

}
.card-lg-3{
  width: 100%;
  background: rgb(245, 255, 245);
  background: linear-gradient(135deg, rgba(245, 255, 245, 1) 0%, rgba(234, 255, 234, 1) 100%);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0.3rem 0;

}
.card.list{
  width: 100%;
}
.card-users{
  display: flex;
  border-radius: 15px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1px #00000032 solid;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

.card-users-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;

}
.card-users img{
  width: 100px;
  height: auto;
}
.section-card-1{
  display: flex;
  gap: 0.5rem;
}

.card-image{
  height: 70px;
  width: auto;
}
.card.card1{
  background: rgb(255,243,243);
  background: linear-gradient(135deg, rgba(255,243,243,1) 0%, rgba(255,231,231,1) 100%);
}
@media only screen and (max-width: 960px) {
  .card-users-container{flex-wrap: wrap;}
}

@media only screen and (max-width: 768px) {
  .section-card-1{flex-wrap: wrap;}
  .card-m{width: 100%;}

}
