<main>
  <p class="title">Clients</p>
  <div class="container">
    <table>
      <thead>
      <tr>
        <th class="left-radius">Username</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Date de création</th>
        <th class="right-radius">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.user.userName}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.tel}}</td>
        <td>{{customer.createAt | date:'dd/MM/yyyy'}}</td>
        <td>
          <div class="flex items-center gap-2">
            <ng-container *ngIf="customer.user.actif">
              <button class="btn-link reject-btn" (click)="deActiverCustomer(customer.id)"><i class="pi pi-times"></i> Désactiver</button>
            </ng-container>
            <ng-container *ngIf="!customer.user.actif">
              <button class="btn-link confirm-btn" (click)="activerCustomer(customer.id)"><i class="pi pi-check"></i> Activer</button>
            </ng-container>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
