<main>
  <p class="title">Prestataire</p>
  <div class="container">
    <table>
      <thead>
      <tr>
        <th class="left-radius">Username</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Date de création</th>
        <th class="right-radius">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Delon</td>
        <td>delonexample.com</td>
        <td>+123456789</td>
        <td>2023-11-10</td>
        <td>
          <div class="flex items-center gap-2">
            <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Activer</button>
            <button class="btn-link reject-btn"><i class="pi pi-times"></i> Désactiver</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
