
<main>
  <p class="title">Prestataire</p>
  <div class="container">
    <table>
      <thead>
      <tr>
        <th class="left-radius">Username</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Date de création</th>
        <th class="right-radius">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.user.userName}}</td>
        <td>{{provider.email}}</td>
        <td>{{provider.tel}}</td>
        <td>{{provider.createAt | date:'dd/MM/yyyy'}}</td>
        <td>
          <div class="flex items-center gap-2">
            <ng-container *ngIf="provider.user.actif">
              <button class="btn-link reject-btn" (click)="deActiverProvider(provider.id)"><i class="pi pi-times"></i> Désactiver</button>
            </ng-container>
            <ng-container *ngIf="!provider.user.actif">
              <button class="btn-link confirm-btn" (click)="activerProvider(provider.id)"><i class="pi pi-check"></i> Activer</button>
            </ng-container>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</main>
