<div class="sections ">
<section  id="services">
  <h2>Mes services</h2>
  <p class="text-gray-600 font-medium">Consultez et gérez vos services.</p>
  <main class="bg-white box-shadow1 rounded-2xl p-6 mb-6 border max-w-full" >
    <div class="mb-6">
      <div class="flex md:flex-row justify-between items-start md:items-center relative">
        <div style="width:100%">
          <div class="flex justify-between items-center relative">
            <span class="text-3xl font-bold text-gray-800 mb-4">Mes services</span>
            <button class="btn-edit">Modifier <mat-icon class="text-lg">edit</mat-icon></button>
            <button class="btn-edit-responsive"><mat-icon class="text-base">edit</mat-icon></button>
          </div>
          <div class="card-container">
            <div class="card-profile">
              <div class="card-top">
                <div class="flex justify-between items-center">
                  <div class="stars-container">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                  </div>
                  <div class="saved"><mat-icon>bookmark</mat-icon></div>
                </div>
                <div class="flex justify-between items-center">
                  <h4 class="text-titre">Senior UI/UX Designer </h4>
                  <mat-icon>monitor</mat-icon>
                </div>
                <div class="work-mode">
                  <span>Remote</span>
                  <span>Full Time</span>
                  <span>Design</span>
                </div>
              </div>
              <div class="card-bottom">
                <div>
                  <p class="price">85K</p>
                  <p class="location">Cocody</p>
                </div>
                <a   class="btn-link">Modifier</a>
              </div>
            </div>
            <div class="card-profile">
              <div class="card-top c2">
                <div class="flex justify-between items-center">
                  <div class="stars-container">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                  </div>
                  <div class="saved"><mat-icon>bookmark</mat-icon></div>
                </div>
                <div class="flex justify-between items-center">
                  <h4 class="text-titre">Senior UI/UX Designer </h4>
                  <mat-icon>monitor</mat-icon>
                </div>
                <div class="work-mode">
                  <span>Remote</span>
                  <span>Full Time</span>
                  <span>Design</span>
                </div>
              </div>
              <div class="card-bottom">
                <div>
                  <p class="price">85K</p>
                  <p class="location">Cocody</p>
                </div>
                <a   class="btn-link">Modifier</a>
              </div>
            </div>
            <div class="card-profile">
              <div class="card-top c3">
                <div class="flex justify-between items-center">
                  <div class="stars-container">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                    <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                  </div>
                  <div class="saved"><mat-icon>bookmark</mat-icon></div>
                </div>
                <div class="flex justify-between items-center">
                  <h4 class="text-titre">Senior UI/UX Designer </h4>
                  <mat-icon>monitor</mat-icon>
                </div>
                <div class="work-mode">
                  <span>Remote</span>
                  <span>Full Time</span>
                  <span>Design</span>
                </div>
              </div>
              <div class="card-bottom">
                <div>
                  <p class="price">85K</p>
                  <p class="location">Cocody</p>
                </div>
                <a    class="btn-link">Modifier</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
</div>
