<main>
  <img class="absolute top-0 left-0 p-6 w-50 h-20" src="media/images/Logo.png" />
  <div class="registration-container">
    <a routerLink="/dashboard-prestataire" class="flex items-center gap-1 mb-4 hover:text-[#14C0B7]"><mat-icon>arrow_back</mat-icon> Tableau de bord</a>
    <div class="flex justify-center items-center mb-6">
      <span class="text-2xl text-center font-bold">Ajouter les services que vous offrez</span>
    </div>
    <p *ngIf="successMessage" class="text-sm text-center text-green-500">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="text-sm text-center text-red-500">{{ errorMessage }}</p>
    <form [formGroup]="servicesForm" (ngSubmit)="onServicesSubmit()">
      <div class="form-row">
        <label for="serviceName">Type de service</label>
        <select (click)="showTypeService(this.servicesForm.value.typeService)" id="serviceName" name="serviceName" title="Type de service" required formControlName="typeService">
          @for(service of typeService; track service){
            <option  [value]="service">{{service}}</option>
          }
        </select>

        <label for="titleService">Titre du service</label>
        <select id="titleService" name="titleService" title="Titre du service" required formControlName="description">
          @for (typeS of titlebyTypeService();track typeS){
            <option  [value]="typeS">{{typeS}}</option>
          }
        </select>

        <label for="price">Prix du service</label>
        <input type="number" id="price" name="price" required formControlName="price">

        <label for="duration">Durée de la mission (en heures)</label>
        <input type="number" id="duration" name="duration" placeholder="345" required formControlName="duration">
      </div>
      <button class="btn-link" type="submit">Ajouter</button>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
      <h2>Succès</h2>
      <p>Service ajouté avec succès !</p>
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</main>
