/* CSS spécifique pour les écrans de taille moyenne et grande */
@media (min-width: 768px) {
  section {
    height: 100vh;
  }
}

/* Optionnel: taille de logo responsive */
@media (min-width: 768px) {
  .logo-container img {
    width: 80px;
    height: 80px;
  }
}


@media (min-width: 1200px) {
  section {
    height: 100vh;
  }
}
.alert {
  border-radius: 0.25rem; /* Arrondi les coins du message d'alerte */
  padding: 1rem; /* Ajoute du rembourrage pour améliorer la lisibilité */
}

/* forgot-password.component.css */
.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Ajout d'une couleur de fond sombre */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-container h2 {
  color: #fff; /* Texte en blanc */
  font-size: 24px;
  margin-bottom: 10px;
}

.forgot-password-container p {
  color: #fff; /* Texte en blanc */
  font-size: 16px;
  margin-bottom: 20px;
}

.forgot-password-container label {
  display: block;
  font-size: 16px;
  color: #fff; /* Texte en blanc */
  margin-bottom: 8px;
}

.forgot-password-con
