<main>
  <p class="title">Services ajoutée</p>
  <table>
    <thead>
    <tr>
      <th class="left-radius">Freelancer</th>
      <th>Services</th>
      <th>Date</th>
      <th>Statut</th>
      <th class="right-radius">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Delon</th>
      <th>Dev Front...</th>
      <th>Il y a 2 jour</th>
      <th><div class="services-status pending">En attente</div></th>
      <th><div class="flex items-center gap-2">
        <button class="btn-link"><i class="pi pi-check"></i></button>
        <button class="btn-link"><i class="pi pi-times"></i></button>
      </div></th>
    </tr>
    </tbody>
  </table>
</main>
