<main>
  <p class="title">Services ajoutés</p>
  <table>
    <thead>
    <tr>
      <th class="left-radius">Freelancer</th>
      <th>Service</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Durée</th>
      <th>Date</th>
      <th>Statut</th>
      <th class="right-radius">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending" style="size:10px">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending" style="size:10px">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending" style="size:10px">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending" style="size:10px">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Delon</td>
      <td>Développement Front</td>
      <td>Développement d'une interface utilisateur...</td>
      <td>500€</td>
      <td>5 jours</td>
      <td>Il y a 2 jours</td>
      <td><div class="services-status pending" style="size:10px">En attente</div></td>
      <td>
        <div class="flex items-center gap-2">
          <button class="btn-link confirm-btn"><i class="pi pi-check"></i> Confirmer</button>
          <button class="btn-link reject-btn"><i class="pi pi-times"></i> Refuser</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</main>
